<div class="content-section introduction">
  <div><span class="feature-title">Button</span>
    <span>Button is an extension to standard input element with theming.</span>
  </div>
</div>
<div class="content-section details">
  <h3>Basic Buttons</h3>
  <my-button styleClass="btn-basis basic-default" type="button" label="Default"></my-button>
  <my-button styleClass="btn-basic basic-primary" type="button" label="Primary"></my-button>
  <my-button styleClass="btn-basic basic-success" type="button" label="Success"></my-button>
  <my-button styleClass="btn-basic basic-info" type="button" label="Info"></my-button>
  <my-button styleClass="btn-basic basic-warning" type="button" label="Warning"></my-button>
  <my-button styleClass="btn-basic basic-danger" type="button" label="Danger"></my-button>
  <my-button styleClass="btn-basis basic-link" type="button" label="Link"></my-button>
  <h3>Raised Buttons</h3>
  <my-button styleClass="ui-raised-button btn-default" type="button" label="Basic"></my-button>
  <my-button styleClass="ui-raised-button btn-primary" type="button" label="Primary"></my-button>
  <my-button styleClass="ui-raised-button btn-success" type="button" label="Success"></my-button>
  <my-button styleClass="ui-raised-button btn-info" type="button" label="Info"></my-button>
  <my-button styleClass="ui-raised-button btn-warning" type="button" label="Warning"></my-button>
  <my-button styleClass="ui-raised-button btn-danger" type="button" label="Danger"></my-button>
  <my-button styleClass="ui-raised-button btn-link" type="button" label="Link"></my-button>


  <h3>Raised Buttons</h3>
  <my-button styleClass="ui-fab-button btn-default" type="button" label="Basic"></my-button>
  <my-button styleClass="ui-fab-button btn-primary" type="button" label="Primary"></my-button>
  <h3>Rounded Buttons</h3>
</div>