.content-section.introduction {
    background-image: linear-gradient(to right,#094549,#0e5560);
    color: #fff;
}
.content-section.details {
    background-color: #fff;
    overflow: visible;
}
.content-section {
    display: block;
    border-bottom: 1px solid #dde3e6;
    padding: 30px;
    overflow: hidden;
    background-color: #f5f7f8;
}
.feature-title {
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
}